<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Henter head componet fra folderen af  -->
    <%- include('./ejsComponets/head') %>
    
    <link rel="stylesheet" href="/css/pagesCss/index.css">
    <title>DFMB - Forside</title>
</head>

<body>
    <header>
        <!-- Henter header componet fra folderen af  -->
        <%- include('./ejsComponets/header') %>
    </header>

    <main>
           <h1>Velkommen til DFMB (din favorit mad blog)</h1>
           <div class="shadow p-3 mb-5 bg-body-tertiary rounded row2">
                <% let i = 0 %>
                <div class="row3">
                    <% data.forEach((op) => { %>
                        <% if (i == 3 ) { %>
                            </div><div class="row3">
                            <% i = 0 %>
                        <% } %>
                        <a href="/recapie/<%= op.id %>  ">
                            <div class="shadow p-3 mb-5 bg-body-tertiary rounded colum3">
                                <h4><%= op.title %></h4>
                                <div class="img">
                                    <img src="<%= op.img %>">
                                </div>
                            </div>
                        </a>
                        <% i++; %>
                    <% }); %>
                </div>
            </div>
    </main>

    <footer>
        <!-- Henter footer componet fra folderen af  -->
        <%- include('./ejsComponets/footer') %>
    </footer>
</body>
</html>